* { box-sizing: border-box; }

html { font-size: 16px; line-height: 1.5; }

@media screen and (max-width: 575.98px) { html { font-size: 14px; } }
@media screen and (min-width: 1200px) { html { font-size: 18px; } }

body {
  margin: 0;
  color: var(--text-primary);
  background-color: var(--bg-page);
  font-family: var(--font-sans);
}

img { max-width: 100%; height: auto; }

